@model IEnumerable<Somativa.Models.Venda>

@{
    ViewData["Title"] = "Vendas";
}
<partial name="~/Views/Home/_LayoutParcial.cshtml" />

<div class="bg-white container bordinha">
    <h1 class="text-center text-uppercase pt-3">@ViewData["Title"]</h1>

    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nota)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataHora)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataHora)
                    </td>
                    <td class="d-flex text-end justify-content-end">
                        <a asp-action="Edit" asp-route-id="@item.VendaId" class="aSemLinha pt-25">
                            <svg bootstrap-icon="PencilSquare" width="32" height="32" aria-label="Alarms" class="text-primary"></svg>
                        </a>

                        <button asp-action="Delete" asp-route-id="@item.VendaId" class="btn aSemLinha px-0 pe-sm-2" data-bs-toggle="modal" data-bs-target="#Apagar-@item.VendaId">
                            <svg bootstrap-icon="TrashFill" width="32" height="32" aria-label="Alarms" class="text-danger"></svg>
                        </button>

                        <a asp-controller="VendaItems" asp-action="Index" asp-route-id="@item.VendaId" class="aSemLinha pt-25">
                            <svg bootstrap-icon="List" width="32" height="32" aria-label="Alarms" class="text-secondary"></svg>
                        </a>
                    </td>
                </tr>

                <!-- Modal APAGAR -->
                <div class="modal fade" id="Apagar-@item.VendaId" tabindex="-1" aria-labelledby="ApagarLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="text-center alert alert-danger">Tem certeza que deseja apagar essa Venda?</h3>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <dl class="row text-center">
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.Nota)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => item.Nota)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.Cliente.Nome)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => item.Cliente.Nome)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.DataHora)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => item.DataHora)
                                        </dd>
                                        <!-- Add other properties as needed -->
                                    </dl>
                                </div>
                            </div>
                            <div class="modal-footer text-center justify-content-center">
                                <form asp-action="Delete" asp-route-id="@item.VendaId">
                                    <input type="hidden" asp-for="@item.VendaId" />
                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close" asp-action="Index">Voltar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
    </div>

    <div class="text-center pb-3">
        <a asp-action="Create">
            <svg bootstrap-icon="PlusSquareFill" width="32" height="32" aria-label="Alarms" class="text-success"></svg>
        </a>
    </div>
</div>
